.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

html {
  scroll-behavior: smooth;
  color: $font-color;
}

p {
  margin: 0;
}

body {
  font-family: $font;
}

button {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

button {
  font-family: $font-buttons;
}
