@mixin button(
  $color: black,
  $background: white,
  $color-active: white,
  $background-active: black,
  $paddings: 10px 20px,
  $margins: 10px 0
) {
  text-transform: uppercase;
  color: $color;
  background-color: $background;
  border: 1px solid $color;
  padding: $paddings;
  outline: none;
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s;
  margin: $margins;
  &:hover {
    color: $color-active;
    background-color: $background-active;
  }
  text-decoration: none;
}
