@import url("../../../fonts/roboto/roboto.css");

$font-color: #3f1503;
$font: "roboto", "serif";
$font-title: "roboto-slab", "serif";
$font-buttons: "roboto-slab", "serif";

$font-color: #3f1503;
$font-size: 25px;

$space: 20px;
$section-padding: 50px;
$h1-margin-bottom: 50px;
