#customize-pizza {
  z-index: 10000;
  position: fixed;
  max-height: 100vh;
  overflow-y: auto;

  .card-body .row {
    display: block;
  }

  [data-id="ProductDetailsBoxComponentSubtractButton"]:focus {
    background-color: #dc3545;
    color: white;
  }

  [data-id="ProductDetailsBoxComponentAddButton"]:focus {
    background-color: #28a745;
    color: white;
  }

  #ProductComponentsSelectioAccordion
    .card-body
    .product-details-box-accordion-component
    * {
    border: none;
    font-size: 12px;
  }
  #ProductComponentsSelectioAccordion .col-lg-6 {
    max-width: 100%;
    width: 100%;
    display: flex;
  }
  #ProductComponentsSelectioAccordion .product-details-box-accordion-component {
    width: 100%;
    display: flex;
  }
  #ProductComponentsSelectioAccordion .col-lg-6 .btn {
    flex: initial;
  }
  .product-details-box-accordion-component-title {
    flex-grow: 1 !important;
    background-color: unset;
    color: #777;
    cursor: default;
  }

  .product-details-box-size-select {
    display: flex;
    justify-content: stretch;

    .btn-product-details-box-size-select {
      border-radius: 0 !important;
      border: none !important;
      box-shadow: 0 !important;
    }

    .btn-product-details-box-size-select:hover,
    .btn-product-details-box-size-select.active {
      background-color: $color-red;
      color: white;
      outline: none;
    }
  }

  .product-details-box-name {
    font-size: 30px;
    font-family: $font-title;
  }

  .btn {
    box-shadow: none;
    border-radius: none !important;
  }
  .card {
    box-shadow: none;
    border-radius: none !important;
    max-height: 400px;
    overflow-y: auto;

    .card-header {
      background-color: transparent !important;
      box-shadow: none;
      border-radius: none !important;
      button {
        text-decoration: none;
        color: black;
        box-shadow: none;
        font-family: $font;
        background-color: transparent;
      }
      button:hover {
        text-decoration: none;
        background-color: transparent;
      }
    }
  }

  .modal-footer {
    background-color: transparent;

    .total {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      span {
        margin: 0 5px;
      }
    }
  }

  div.btn-group[aria-label="Basic example"] {
    border: 1px solid #ddd;
    padding: 0;

    .btn {
      border-radius: 0;
    }

    .btn,
    input {
      height: 40px;
      width: 40px;
    }

    input {
      margin: 0;
      padding: 0;
      border: none;
    }

    .btn.btn-danger {
      background-color: $color-red;
    }

    .btn.btn-success {
      background-color: $color-green;
    }
  }

  .modal-footer {
    button {
      @include button;
    }

    .cancel {
      margin-right: 10px;

      border-color: $color-red;
      color: $color-red;

      &:hover {
        background-color: $color-red;
        color: white;
      }
    }

    .add {
      border-color: $color-green;
      color: $color-green;
      &:hover {
        background-color: $color-green;
        color: white;
      }
    }
  }
}
