footer {
  background-image: url("../../images/footer-background.jpeg");
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  text-align: center;

  p {
    margin: 0;
  }

  .wrapper {
    overflow: hidden;
    padding: $custom-margin 0;

    background-color: rgba(0, 0, 0, 0.5);
  }

  color: white;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 100px;
      margin-bottom: $custom-margin;
    }

    img {
      width: 100%;
    }

    button {
      @include button;
    }

    .socials {
      width: 100%;
      font-size: 40px;
      svg {
        color: white;
      }

      svg:hover {
        color: cadetblue;
      }

      & > *:nth-child(2) {
        margin: 0 20px;
      }
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      .reservation,
      .address,
      .hours {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }

      .reservation {
        padding: 0;
      }
    }
  }

  p {
    span {
      margin-left: 10px;
    }
  }

  .rights {
    margin-top: $custom-margin;
  }
}
