footer {
  text-align: center;
  color: white;
  background-image: url("../../../images/footer-background.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  section {
    margin-bottom: 50px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .wrapper {
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
  }

  .rights {
    margin: 0;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;

    svg {
      font-size: 0.6rem;
      margin-right: 5px;
      vertical-align: 1px;
    }
  }

  .map {
    flex-grow: 1;
  }

  .rights {
    width: 100%;
  }

  .map {
    iframe {
      min-width: 100%;
      min-height: 200px;
    }
  }
}
