.main-navigation {
  z-index: 2;
  background-color: transparent;
  box-shadow: none;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  padding: $navigation-vertical-paddings;
  transition: background-color 0.3s, padding 0.3s;
  font-weight: bold;

  .image {
    max-width: 30px;
    img {
      max-width: 100%;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .nav {
      max-height: $navigation-max-height;
      overflow-y: auto;
      margin: 0 auto;

      //   .login {
      //     margin-top: 20px;
      //   }

      //   .login {
      //     a {
      //       color: #b20908;
      //     }

      //     svg {
      //       border-color: #b20908;
      //     }
      //   }

      a {
        display: flex !important;
        align-items: center;
      }

      svg {
        border: 1px solid white;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        padding: 10px;
        font-size: 0.1vw;
        margin-right: 10px;
      }
    }
  }

  .logo {
    width: $navigation-big-image-size;
    transition: width 0.3s;

    img {
      width: 100%;
    }

    a {
      padding: 0;
      display: block;
      height: 100%;
      width: 100%;
      line-height: 0;
    }
  }

  a {
    width: 100vw;
    text-decoration: none;
    padding: 2px;
    line-height: 3em;
  }

  a:hover {
    color: $navigation-item-hover;
    svg {
      border: 1px solid $navigation-item-hover !important;
    }
  }

  .button-collapsible {
    height: 50px;
    width: 50px;
    border-style: none;
    background-color: transparent;
    font-size: 20px;
    color: $navigation-font-color;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

    span.hamburger-inner,
    span.hamburger-inner::before,
    span.hamburger-inner::after {
      background-color: $navigation-font-color;
      width: 30px;
      height: 2px;
    }
  }

  &.active,
  &.scroll-active {
    background-color: black;

    .logo {
      width: $navigation-small-image-size;
    }
  }

  &.tigh {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .basket {
    font-size: 30px;
    padding: 0;
    color: white;
    background-color: transparent;
    border-style: none;
    margin: 0;
    box-shadow: none;

    &:hover {
      color: cadetblue;
      background-color: transparent;
    }
  }
}

.parallax-container {
  z-index: 1;

  button {
    background-color: transparent;
    color: white;
    border-color: white;
  }

  button:hover {
    background-color: white;
    color: black;
    border-color: transparent;
  }
}
