.menu-navigation {
  color: $menu-navigation-font-color;
  padding: $menu-navigation-paddings 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $menu-navigation-font-family;

  button {
    @include button(
      $menu-navigation-button-color,
      $menu-navigation-button-background-color,
      $menu-navigation-button-active-color,
      $menu-navigation-button-active-background-color,
      $menu-navigation-button-paddings,
      $menu-navigation-button-margins
    );
  }

  .menu-nav {
    background-color: transparent;
    box-shadow: unset;
    height: initial;
  }

  .menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    flex-basis: 40%;
  }

  p {
    font-size: 20px;
    text-align: center;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: $menu-navigation-font-color;
    width: 100%;
    height: 100%;
    line-height: initial;
    padding: $menu-navigation-button-paddings;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
    background-color: transparent;
  }

  a:hover {
    border-bottom: 1px solid $menu-navigation-font-color;
  }
}
