.order {
  position: fixed;
  top: -150%;
  left: 0;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  z-index: 2;
  overflow-y: auto;
  transition: 0.3s top;

  &.active {
    top: 0;
  }

  .row {
    margin: 0;
  }

  .close {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 0px;
    cursor: pointer;
  }

  &.hidden {
    padding: 0;
  }

  &.active {
    min-height: 100vh;
    max-height: 100vh;
    padding: 50px;
  }

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }

  .name {
    flex-basis: 30%;
  }

  .times {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 12px;
    }

    .count {
      margin-left: 10px;
    }
  }

  .value {
    flex-basis: 30%;
    text-align: end;
    font-weight: bold;
  }

  .summary {
    padding: 0 20px;
    margin-top: 20px;
    text-align: end;
    font-weight: bold;
  }

  p {
    margin: 0;
    padding: 10px 0;
  }

  .total,
  .discount {
    border-bottom: 1px solid #ddd;
  }

  .total-to-pay {
    font-size: 16px;
    text-align: right;
  }

  .edit {
    display: flex;

    & > :nth-child(2) {
      margin-left: 10px;
    }

    button {
      font-size: 20px;
      padding: 0;
      border: none;
      color: olivedrab;

      &:hover {
        color: cadetblue;
        background-color: transparent;
      }
    }
  }

  a,
  button {
    display: block;
    text-align: center;
    @include button($color-green, white, white, $color-green);
  }
  .order-button {
    display: flex;
    justify-content: flex-end;
  }
  //   .order-test {
  //     padding: 15px;
  //     div,
  //     button {
  //       all: initial;
  //     }

  //     .row {
  //       display: flex;
  //       justify-content: space-between;
  //       align-items: center;

  //       & > * {
  //         flex-grow: 1;
  //       }
  //     }

  //     .my-modal-basket-product-name,
  //     .my-modal-basket-product-price,
  //     [data-id="ModalBasketProductDeleteButton"] {
  //       font-family: $font;
  //       color: #444;
  //     }

  //     .col-md-2 > div {
  //       display: flex;
  //       justify-content: center;

  //       [data-id="ModalBasketProductAmountValue"] {
  //         margin-right: 20px;
  //         font-family: $font;
  //       }

  //       [data-id="ModalBasketProductDeleteButton"] {
  //         text-transform: uppercase;
  //       }
  //       [data-id="ModalBasketProductDeleteButton"]:hover {
  //         color: $color-green;
  //         cursor: pointer;
  //       }
  //       [data-id="ModalBasketProductDeleteButton"]:active {
  //         background-color: transparent;
  //         border: none;
  //         box-shadow: none;
  //         color: $color-green;
  //         cursor: pointer;
  //       }

  //       svg {
  //         margin-right: 5px;
  //         font-size: 20px;
  //       }
  //     }
  //     .col-md-3 {
  //       display: flex;
  //       justify-content: flex-end;
  //     }

  //     .my-modal-basket-product-price {
  //       font-weight: bold;
  //       color: $color-red;
  //     }
  //     button {
  //       display: flex;
  //     }
  //   }

  .order-test {
    padding: 15px;
    * {
      @extend .reset-this;
    }

    svg {
      height: 20px;
    }

    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      * {
        color: #444;
        font-family: $font;
      }

      & > * {
        flex: 0 1 auto;
        width: 33.33%;
      }

      button:hover {
        background-color: transparent;
        color: #444;
      }

      .my-modal-basket-product-amount {
        flex-grow: 2;
        display: flex;
        flex-wrap: nowrap;

        [data-id="ModalBasketProductAmountValue"] {
          margin-right: 10px;
        }
      }

      [data-id="ModalBasketProductDeleteButton"] {
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          margin-right: 5px;
          cursor: pointer;
        }

        &:hover {
          color: $color-green;

          svg {
            path {
              color: $color-green !important;
            }
          }
        }
      }

      .my-modal-basket-product-price {
        display: flex;
        justify-content: flex-end;

        span {
          color: $color-red;
          font-weight: bold;
        }
      }
    }

    script {
      display: none;
    }
  }
}
