.reservation {
  text-align: center;
  padding-bottom: $section-padding;
  button {
    @include button(
      $menu-navigation-button-color,
      $menu-navigation-button-background-color,
      $menu-navigation-button-active-color,
      $menu-navigation-button-active-background-color,
      $menu-navigation-button-paddings,
      $menu-navigation-button-margins
    );
  }

  h1 {
    margin-bottom: $h1-margin-bottom;
  }

  form,
  .additional-info {
    max-width: $reservation-form-width;
    margin: 0 auto;
  }

  input[type="submit"] {
    @include button(
      $menu-navigation-button-color,
      $menu-navigation-button-background-color,
      $menu-navigation-button-active-color,
      $menu-navigation-button-active-background-color,
      $menu-navigation-button-paddings,
      $menu-navigation-button-margins
    );
  }

  textarea {
    min-height: $reservation-text-area-height;
  }
}
