.separator {
  max-height: 400px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: white;

  .text-container {
    height: 100%;
    .text {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 1;
      width: 100%;
      padding: 20px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);

      h1 {
        width: 100%;
        margin-bottom: 50px;
      }

      p {
        font-family: $font-title;
        font-size: 16px;
        width: 100%;
        margin: 5px 0;
      }
    }

    svg {
      display: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;

      polygon {
        fill: #fbfbfb;
      }
    }
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);

    h3 {
      font-size: 2.5rem;
      text-transform: uppercase;
    }
  }
}
