//main navigation
$navigation-font-color: #fff;
$navigation-background-color: #000;
$navigation-item-hover: cadetblue;
$navigation-vertical-paddings: 10px;
$navigation-small-image-size: 50px;
$navigation-small-image-num: 50;
$navigation-big-image-size: 100px;
$navigation-max-height: calc(
  100vh - #{$navigation-small-image-size} - 2 * #{$navigation-vertical-paddings}
);
$navigation-font: $font;

//header
$parallax-height: 750px;
$header-font-size: 30px;
$header-font-color: #fff;
$header-padding-top: calc(
  #{$navigation-big-image-size} + 2 * #{$navigation-vertical-paddings} + 50px
);

//menu navigation
$menu-navigation-font-color: #000;
$menu-navigation-paddings: 50px;
$menu-navigation-font-family: $font;
$menu-navigation-button-margins: 10px;
$menu-navigation-button-paddings: 10px 20px;
$menu-navigation-button-color: #000;
$menu-navigation-button-background-color: #fff;
$menu-navigation-button-active-color: #fff;
$menu-navigation-button-active-background-color: #000;
$menu-navigation-items-basis: 40%;

//reservation
$reservation-form-width: 400px;
$reservation-text-area-height: 100px;
